In [65]:
import pandas as pd
import numpy as np
import plotly.express as px

# Read in the data
observations_r = pd.read_csv('observations.csv')
species_r = pd.read_csv('species_info.csv')

# Sum the observations for each species in each park
observations = observations_r.pivot_table(index=['scientific_name', 'park_name'], values='observations', aggfunc='sum').reset_index()

# Remove entries of species_r which have the same entries in scientific_name and keep selected conservation_status
species_r = species_r.drop_duplicates(subset=['scientific_name', 'conservation_status'], keep='first')
species = species_r.drop([8,560])

# Merge the two dataframes to analyze obersevations by species and their conservation status
wildlife = pd.merge(observations, species, on='scientific_name', how='left')

display(wildlife.info())
display(wildlife.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22164 entries, 0 to 22163
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scientific_name      22164 non-null  object
 1   park_name            22164 non-null  object
 2   observations         22164 non-null  int64
 3   category             22164 non-null  object
 4   common_names         22164 non-null  object
 5   conservation_status  716 non-null    object
dtypes: int64(1), object(5)
memory usage: 1.0+ MB

None

,scientific_name,park_name,observations,category,common_names,conservation_status
count,22164,22164,22164.000000,22164,22164,716
unique,5541,4,NaN,7,5229,4
top,Abies bifolia,Bryce National Park,NaN,Vascular Plant,Brachythecium Moss,Species of Concern
freq,4,5541,NaN,17048,28,604
mean,NaN,NaN,149.555089,NaN,NaN,NaN
std,NaN,NaN,81.421299,NaN,NaN,NaN
min,NaN,NaN,9.000000,NaN,NaN,NaN
25%,NaN,NaN,88.000000,NaN,NaN,NaN
50%,NaN,NaN,129.000000,NaN,NaN,NaN
75%,NaN,NaN,217.000000,NaN,NaN,NaN
max,NaN,NaN,805.000000,NaN,NaN,NaN

# EDA
- [X] Check data-types
- [X] Check cleanliness
- [X] Remove duplicates in both df before merging and check merge
- [ ] Check univariate
- [ ] Check association

In [67]:
display(wildlife.head())

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Abies bifolia,Bryce National Park,109,Vascular Plant,Rocky Mountain Alpine Fir,NaN
1,Abies bifolia,Great Smoky Mountains National Park,72,Vascular Plant,Rocky Mountain Alpine Fir,NaN
2,Abies bifolia,Yellowstone National Park,215,Vascular Plant,Rocky Mountain Alpine Fir,NaN
3,Abies bifolia,Yosemite National Park,136,Vascular Plant,Rocky Mountain Alpine Fir,NaN
4,Abies concolor,Bryce National Park,83,Vascular Plant,"Balsam Fir, Colorado Fir, Concolor Fir, Silver...",NaN